{% extends "home/base.html" %}
{% block content %}
{% for drink in drinks %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">{{ drink.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ drink.glassware }}</h6><h6 class="card-subtitle mb-2 text-muted">{{ drink.garnish }}</h6>
          <p class="card-text">{{ drink.ingredients }}.</p>
          
        </div>
      </div>

{% endfor %}
{% endblock %}
</body>

</html>